In [1]:
# for database connections
import sqlalchemy
from sqlalchemy import create_engine, inspect, text

# data
import pandas as pd
import numpy as np

# viz
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#set variable values
SQL_USERNAME = 'postgres'
SQL_PASSWORD = 'postgres'
SQL_IP = 'localhost'
PORT = 5432
DATABASE = 'crowdfunding_db'

In [3]:
#Create the connection
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [4]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within each table and its types
for table in tables:
    print(table)
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])
        
    print()

contacts
contact_id INTEGER
first_name VARCHAR(50)
last_name VARCHAR(100)
email VARCHAR(150)
last_updated TIMESTAMP

campaign
cf_id INTEGER
contact_id INTEGER
company_name VARCHAR(300)
description VARCHAR(500)
goal INTEGER
pledged INTEGER
outcome VARCHAR(20)
backers_count INTEGER
country VARCHAR(5)
currency VARCHAR(20)
launched_date DATE
end_date DATE
category_id VARCHAR(10)
subcategory_id VARCHAR(10)
last_updated TIMESTAMP

category
category_id VARCHAR(10)
category VARCHAR(100)
last_updated TIMESTAMP

subcategory
subcategory_id VARCHAR(20)
subcategory VARCHAR(100)
last_updated TIMESTAMP

In [5]:
#Read in the csv file and viewed dataframe
df_contacts = pd.read_csv('Resources/contacts.csv')
df_contacts.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [6]:
#Viewed datatypes
df_contacts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [7]:
#Read in the csv file and viewed dataframe
df_campaign = pd.read_csv('Resources/campaign.csv')
df_campaign.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,subcat4

In [8]:
#Viewed datatypes
#dates are string, but in postgres we set them to dates
df_campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cf_id           1000 non-null   int64
 1   contact_id      1000 non-null   int64
 2   company_name    1000 non-null   object
 3   description     1000 non-null   object
 4   goal            1000 non-null   float64
 5   pledged         1000 non-null   float64
 6   outcome         1000 non-null   object
 7   backers_count   1000 non-null   int64
 8   country         1000 non-null   object
 9   currency        1000 non-null   object
 10  launched_date   1000 non-null   object
 11  end_date        1000 non-null   object
 12  category_id     1000 non-null   object
 13  subcategory_id  1000 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 109.5+ KB

In [9]:
#Read in the csv file and viewed dataframe
df_category = pd.read_csv('Resources/category.csv')
df_category.head()

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video

In [10]:
#Viewed datatypes
df_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  9 non-null      object
 1   category     9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes

In [11]:
#Read in the csv file and viewed dataframe
df_subcategory = pd.read_csv('Resources/subcategory.csv')
df_subcategory.head()

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [12]:
#Viewed datatypes
df_subcategory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  24 non-null     object
 1   subcategory     24 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [ ]:
# Load contacts dataframe into PgAdmin4
df_contacts.to_sql('contacts', schema='public', con=engine, index=False, if_exists='append', method='multi')

In [16]:
# Load category dataframe into PgAdmin4
df_category.to_sql('category', schema='public', con=engine, index=False, if_exists='append', method='multi')

9

In [17]:
# Load subcontacts dataframe into PgAdmin4
df_subcategory.to_sql('subcategory', schema='public', con=engine, index=False, if_exists='append', method='multi')

24

In [18]:
# Load campaign dataframe into PgAdmin4
df_campaign.to_sql('campaign', schema='public', con=engine, index=False, if_exists='append', method='multi')

1000

In [19]:
#close sqlalchemy connection
engine.dispose()